@font-face {
  font-family: 'Sohne';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/soehne-buch.woff2') format('woff2');
}

@font-face {
  font-family: 'Sohne';
  font-style: italic;
  font-weight: 400;
  src:  url('../fonts/soehne-buch-kursiv.woff2') format('woff2');
}


:root {
    --primary-color: #2929ff;
    --primary-color-light: rgba(41, 41, 255, 0.1);
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-padding-top: 160px;

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #2929ff;
    color: var(--primary-color);
    background: #fff;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-family: Sohne, Helvetica, sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

nav {
    position: relative;
    display: flex;
    background: #2929ff;
    background: var(--primary-color);
    color: #fff;
    height: 80vh;
    max-width: 100%;
    align-items: center; /* Align vertical */
    letter-spacing: -0.5px;
    font-size: 2.25em;
    padding-top: 2em;
    transition: height 0.12s ease-out;
    width: 100%;
    z-index: 2;
}


@media screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    nav {
        font-size: 2em;
    }
}

nav.minimal {
    height: 150px;
    max-height: 150px;
    font-size: 1.2em;
    padding-top: 0;
    padding-left: 180px;
    position: fixed;
    top: 0;
}


nav h1 {
    position: absolute;
    left: 72px;
    top: 0;
    cursor: pointer;
}

nav h1 span {
    display: none;
}

nav h1 img {
    width: 65px;
    height: 65px;
    position: absolute;
    width: 78px;
    height: 78px;
    padding-left: 17px;
    padding-top: 10px;
}

nav h2 {
    margin: 0;
    padding: 0 2em;
    font-size: 1em;
    line-height: 1.25;
}

nav.minimal h2 {
    line-height: 1.4;
}

nav a {
    display: inline-block;
    border: 1.5px solid #fff;
    padding: 0 0.35em 0.15em 0.35em;
    margin-top: 2px;
    border-radius: 1em;
    color: #fff;
    text-decoration: none;
}

nav.minimal a {
    padding: 0 0.35em 3px 0.35em;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 0;
}

nav a:hover {
    color: #2929ff;
    color: var(--primary-color);
    background-color: #fff;
    transition: color, background-color 0.25s ease-in;
}

nav a.beginning {
    border: 0;
    padding: 0;
}

nav.minimal a.beginning {
    display: none;
}

nav a.beginning::before {
    content: '\2193';
    color: #fff;
    display: block;
    position: absolute;
    bottom: 1em;
    right: 1em;
}

nav a.beginning span {
    display: none;
}

@media screen and (max-width: 600px) {
    nav.minimal h1 {
        top: 5px;
        left: 40vw;
    }

    nav.minimal h2 {
        visibility: hidden;
    }
}



h1, h2, h3, h4 {
    font-weight: normal;
}

h3 {
    font-size: 2em;
    letter-spacing: -0.2px;
    margin-top: 2em;
}

h4 {
    //background: #fff url(../img/dot.png) no-repeat left 4px/22px;
    //padding-left: 36px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

h4::before {
    content: "";
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    background: #2929ff;
    background: var(--primary-color);
    border-radius: 1em;
    margin-right: 0.5em;
}

main {
    position: relative;
    margin: 0 0 0 0;
    padding: 0;
    background: #fff;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
}

section {
    margin: 0 5em 2em 5em;
}

@media screen and (min-width: 1200px) {
  body {
      font-size: 22px;
  }
  section {
      margin: 0 10em 2em 10em;
  }
}

.animate {
    opacity: 0;
    transition: 1s all ease;
}

.animate.active {
    transform: translateX(0);
    opacity: 1;
}


.intro {
    padding-top: 12em;
}

.intro h3 {
    font-size: 3em;
    text-transform: uppercase;
}

.intro span {
    display: block;
}

.intro div {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin-top: 2em;
}

@media screen and (max-width: 600px) {
    .intro div {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

.intro div p {
    margin-top: 0;
}

.services section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    padding: 0;
}

.services section h4 {
    flex-basis: 25%;
    margin-top: 1em;
}

.services section div {
    flex-basis: 70%;
}


@media screen and (max-width: 600px) {
    .services section h4 {
        flex-basis: 100%;
        margin-bottom: 0;
    }

    .services section div {
        flex-basis: 100%;
    }
}

.project-table {
    border-bottom: 2px solid var(--primary-color);
}

.project-name {
    border: 2px solid var(--primary-color);
    padding: 0.5em;
    font-style: italic;
    font-size: 1.25em;
    margin: 0;
    background-color: var(--primary-color-light);
    border-bottom: none;
}

.project-table .project-name:last-child {
    border-bottom: 2px solid var(--primary-color);
}

.project-name:hover {
    cursor: pointer;
}

.project-name:before {
    content: '→';
    font-style: normal;
    padding-right: 0.5em;
}

.project-description {
    border: 2px solid var(--primary-color);
    border-bottom: none;
    padding: 1em 2.25em 2.25em;
    margin: 0;
    display: block;
    max-height: 800px;
    transition: all .25s ease-in-out;
    position: relative;
}

.project-description:last-child {
    border-bottom: none;
}

.project-client {
    border-top: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5em;
}

.project-description.hidden {
}

.about {
    padding-bottom: 3em;
    margin-top: 4em;
    /*  background: #fff url(../img/sm_blue.jpg) no-repeat left top/30%; */
    /*  padding-left: 30%; */
    display: flex;
    align-items: top;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 2em;
}

.about h3 {
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 0;
}

.about .portrait {
   border-radius: 2em;
   overflow: hidden;
   height: 100%;
   flex-shrink: 1;
   flex: 1 20%;
   padding: 0;
   justify-content: space-between;
}

.about .portrait img {
    width: 100%;
    display: block;
}

.about .bio {
    flex: 2 50%;
}

.about .bio p {
    margin: 0;
}

.about h3 {
    margin-top: 0;
}

@media screen and (max-width: 600px) {
    .about .portrait {
        flex-basis: 100%;
        width: 100%;
    }

    .about .bio {
        padding-left: 0;
    }
}

ul.questions {
    padding-left: 0;
    margin-bottom: 2em;
}

ul {
    padding-left: 1em;
}

li {
    padding-left: 1.5em;
    list-style-type: none;
    position: relative;
}

li::before {
    content: '—';
    position: absolute;
    left: -0.8em;
    font-size: 1.1em;
}

.questions li {
    overflow: hidden;
    position: relative;
    padding: 1.25em 1.75em;
    border-radius: 1.5em;
    margin-bottom: 1em;
    margin-left: 4em;
    width: 33%;
    font-size: 0.75em;
    line-height: 1.25em;
    letter-spacing: 0.2px;
}

.questions li:nth-child(2) {
    margin-left: 14em;
}

.questions li:nth-child(3) {
    margin-left: 18em;
}

.questions li:nth-child(4) {
    margin-left: 6em;
}

.questions li::before {
    content: '';
    background-color: var(--primary-color);
    opacity: 0.1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
}

.portrait img {
    width: 100%;
}

footer {
    height: 25vh;
    position: sticky;
    bottom: 0;
    left: 0;
    background: #2929ff;
    background: var(--primary-color);
    color: #fff;
    z-index: 0;
    padding: 0 4em 0 4em;
    display: flex;
    flex-wrap: row wrap;
    align-items: center;
    justify-content: space-between;
}

footer h3 {
    padding: 0 2em 0 0;
    margin: 0;
}

footer .contact {
    background: #fff;
    color: #2929ff;
    color: var(--primary-color);
    padding: 0.5em 1.5em 0.75em 1.5em;
    border-radius: 1em;
    height: 1em;
    text-transform: uppercase;
    font-size: 2em;
    position: relative;
}


footer .contact a:link, footer .contact a:visited {
    color: #2929ff;
    color: var(--primary-color);
}

footer .contact a:hover {
    text-decoration: underline;
}

footer .contact:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 100px;
    border-width: 20px 0 0 20px;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

@media screen and (max-width: 600px) {
    footer h3 {
        font-size: 1.25em;
    }


    footer .contact {
        font-size: 1em;
        height: auto;
    }

    footer .contact:after {
        left: 60px;
    }
}



.hidden {
    display: none;
}

#frame {
    position: absolute;
    left: 0;
    top: -5px;
    stroke: white;
    stroke-width: 4px;
    width: 110px;
    height: 110px;
    max-width: 110px;
    max-height: 110px;
    fill: none;
}

#data {
    will-change: scroll-position;
}
